In [2]:
import sklearn
import pandas as pd
import numpy as np

In [3]:
data_rumah = pd.read_excel("DATA_RUMAH_JAKSEL.xlsx")
data_rumah.head()

,NO,NAMA RUMAH,HARGA,LB,LT,KT,KM,GRS
0,1,"Rumah Murah Hook Tebet Timur, Tebet, Jakarta S...",3800000000,220,220,3,3,0
1,2,"Rumah Modern di Tebet dekat Stasiun, Tebet, Ja...",4600000000,180,137,4,3,2
2,3,"Rumah Mewah 2 Lantai Hanya 3 Menit Ke Tebet, T...",3000000000,267,250,4,4,4
3,4,"Rumah Baru Tebet, Tebet, Jakarta Selatan",430000000,40,25,2,2,0
4,5,"Rumah Bagus Tebet komp Gudang Peluru lt 350m, ...",9000000000,400,355,6,5,3

In [4]:
data_rumah["HARGA"] = data_rumah["HARGA"] / 1000000

In [5]:
data_features = data_rumah.iloc[:,3:8]
data_features.head()

    LB   LT  KT  KM  GRS
0  220  220   3   3    0
1  180  137   4   3    2
2  267  250   4   4    4
3   40   25   2   2    0
4  400  355   6   5    3

In [6]:
data_target = data_rumah.iloc[:, 2]
data_target.head()

0    3800.0
1    4600.0
2    3000.0
3     430.0
4    9000.0
Name: HARGA, dtype: float64

In [7]:
data_features = np.array(data_features)
data_features

array([[220, 220,   3,   3,   0],
       [180, 137,   4,   3,   2],
       [267, 250,   4,   4,   4],
       ...,
       [139, 230,   4,   4,   1],
       [360, 606,   7,   4,   0],
       [420, 430,   7,   4,   2]], dtype=int64)

In [8]:
data_target = np.array(data_target)
data_target

array([ 3800.,  4600.,  3000., ...,  4000., 19000., 10500.])

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,  Y_train,Y_test = train_test_split(data_features, data_target, random_state=0, test_size=0.1)

print("X train size : ", X_train.shape)
print("X test size : ", X_test.shape)
print("Y train size : ", Y_train.shape)
print("Y test size : ", Y_test.shape)

X train size :  (909, 5)
X test size :  (101, 5)
Y train size :  (909,)
Y test size :  (101,)

In [10]:
from sklearn.linear_model import LinearRegression
model  = LinearRegression(copy_X=True, fit_intercept=False, positive=False)
# 90 % : {'copy_X': True, 'fit_intercept': False, 'positive': False}
# {'copy_X': True, 'fit_intercept': False, 'positive': False}
model.fit(X_train, Y_train)

LinearRegression(fit_intercept=False)

In [11]:
y_pred = model.predict(X_test)

In [12]:
for x in range(20): 
    print("prediksi ke ", x ," adalah : ", y_pred[x])

prediksi ke  0  adalah :  3613.776691414478
prediksi ke  1  adalah :  12092.770469629171
prediksi ke  2  adalah :  8208.495853427054
prediksi ke  3  adalah :  3143.3769742776713
prediksi ke  4  adalah :  579.2461972678468
prediksi ke  5  adalah :  4737.764212096887
prediksi ke  6  adalah :  4403.510491441008
prediksi ke  7  adalah :  3513.0533606204335
prediksi ke  8  adalah :  3722.440016179694
prediksi ke  9  adalah :  6694.550288270363
prediksi ke  10  adalah :  3867.3552667153535
prediksi ke  11  adalah :  8001.692996203389
prediksi ke  12  adalah :  22955.29722874189
prediksi ke  13  adalah :  6146.255636303618
prediksi ke  14  adalah :  10745.099304545878
prediksi ke  15  adalah :  14038.49847474297
prediksi ke  16  adalah :  4259.050083387036
prediksi ke  17  adalah :  1354.6936095494864
prediksi ke  18  adalah :  23993.284644206942
prediksi ke  19  adalah :  4255.666686830087

In [13]:
for x in range(20): 
    print("nilai absolut dari data ke ", x , " adalah : ",Y_test[x])

nilai absolut dari data ke  0  adalah :  3600.0
nilai absolut dari data ke  1  adalah :  12999.0
nilai absolut dari data ke  2  adalah :  6750.0
nilai absolut dari data ke  3  adalah :  3500.0
nilai absolut dari data ke  4  adalah :  690.0
nilai absolut dari data ke  5  adalah :  3300.0
nilai absolut dari data ke  6  adalah :  4600.0
nilai absolut dari data ke  7  adalah :  2950.0
nilai absolut dari data ke  8  adalah :  3500.0
nilai absolut dari data ke  9  adalah :  4800.0
nilai absolut dari data ke  10  adalah :  3800.0
nilai absolut dari data ke  11  adalah :  6500.0
nilai absolut dari data ke  12  adalah :  23000.0
nilai absolut dari data ke  13  adalah :  6100.0
nilai absolut dari data ke  14  adalah :  7500.0
nilai absolut dari data ke  15  adalah :  7000.0
nilai absolut dari data ke  16  adalah :  6200.0
nilai absolut dari data ke  17  adalah :  750.0
nilai absolut dari data ke  18  adalah :  42000.0
nilai absolut dari data ke  19  adalah :  3900.0

In [14]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
print("mae : ", mean_absolute_error(Y_test, y_pred))
print("mse : ", mean_squared_error(Y_test, y_pred))
print("r2 score : ", r2_score(Y_test, y_pred))

mae :  2143.0544781558033
mse :  15039552.951705277
r2 score :  0.7517652120909656

In [15]:
from sklearn.model_selection import GridSearchCV
param = {
    "positive": [True, False],
    "fit_intercept": [True, False], 
    "copy_X": [True, False],
}
grid_search = GridSearchCV(model, param_grid=param, cv=5)
grid_search.fit(X_train, Y_train)
print(grid_search.best_params_)

{'copy_X': True, 'fit_intercept': False, 'positive': False}

In [16]:
import pickle

In [17]:
model_name = "House_Price_Prection_LR.sav"
pickle.dump(model, open(model_name, 'wb'))