In [720]:
import sklearn 
import pandas as pd
import numpy as np

In [721]:
data_rumah = pd.read_excel("DATA_RUMAH_JAKSEL.xlsx")
data_rumah.head()

,NO,NAMA RUMAH,HARGA,LB,LT,KT,KM,GRS
0,1,"Rumah Murah Hook Tebet Timur, Tebet, Jakarta S...",3800000000,220,220,3,3,0
1,2,"Rumah Modern di Tebet dekat Stasiun, Tebet, Ja...",4600000000,180,137,4,3,2
2,3,"Rumah Mewah 2 Lantai Hanya 3 Menit Ke Tebet, T...",3000000000,267,250,4,4,4
3,4,"Rumah Baru Tebet, Tebet, Jakarta Selatan",430000000,40,25,2,2,0
4,5,"Rumah Bagus Tebet komp Gudang Peluru lt 350m, ...",9000000000,400,355,6,5,3

In [722]:
data_rumah.describe()
# +08 menandakan dalam bentuk juta
# +09 menandakan dalam bentuk milyar

,NO,HARGA,LB,LT,KT,KM,GRS
count,1010.000000,1.010000e+03,1010.000000,1010.000000,1010.000000,1010.000000,1010.000000
mean,505.500000,7.628987e+09,276.539604,237.432673,4.668317,3.607921,1.920792
std,291.706188,7.340946e+09,177.864557,179.957604,1.572776,1.420066,1.510998
min,1.000000,4.300000e+08,40.000000,25.000000,2.000000,1.000000,0.000000
25%,253.250000,3.262500e+09,150.000000,130.000000,4.000000,3.000000,1.000000
50%,505.500000,5.000000e+09,216.500000,165.000000,4.000000,3.000000,2.000000
75%,757.750000,9.000000e+09,350.000000,290.000000,5.000000,4.000000,2.000000
max,1010.000000,6.500000e+10,1126.000000,1400.000000,10.000000,10.000000,10.000000

In [723]:
data_rumah["HARGA"] = data_rumah["HARGA"] / 1000000

In [724]:
# data_rumah["LB"] = data_rumah["LB"].astype(str)
# data_rumah["LT"] = data_rumah["LB"].astype(str)

In [725]:
data_rumah.dtypes

NO              int64
NAMA RUMAH     object
HARGA         float64
LB              int64
LT              int64
KT              int64
KM              int64
GRS             int64
dtype: object

In [726]:
data_features = data_rumah.iloc[:,3:8]
data_features.head(10)

    LB   LT  KT  KM  GRS
0  220  220   3   3    0
1  180  137   4   3    2
2  267  250   4   4    4
3   40   25   2   2    0
4  400  355   6   5    3
5  300  154   5   3    3
6  120  150   3   2    1
7  350  247   4   4    0
8  125   90   3   3    0
9  250   96   5   4    1

In [727]:
data_target = data_rumah.iloc[:, 2]
data_target.head(10)

0     3800.0
1     4600.0
2     3000.0
3      430.0
4     9000.0
5     4970.0
6     2600.0
7    10500.0
8     3250.0
9     4500.0
Name: HARGA, dtype: float64

In [728]:
data_features = np.array(data_features)
data_features

array([[220, 220,   3,   3,   0],
       [180, 137,   4,   3,   2],
       [267, 250,   4,   4,   4],
       ...,
       [139, 230,   4,   4,   1],
       [360, 606,   7,   4,   0],
       [420, 430,   7,   4,   2]], dtype=int64)

In [729]:
data_target = np.array(data_target)
data_target

array([ 3800.,  4600.,  3000., ...,  4000., 19000., 10500.])

In [730]:
print(data_target.shape)
data_features.shape

(1010,)

(1010, 5)

In [731]:
from sklearn.model_selection import train_test_split
X_train,X_test, Y_train, Y_test = train_test_split(data_features, data_target, test_size=0.1, random_state=0)
print("X train size : ", X_train.shape)
print("X test size : ", X_test.shape)
print("Y train size : ", Y_train.shape)
print("Y test size : ", Y_test.shape)

X train size :  (909, 5)
X test size :  (101, 5)
Y train size :  (909,)
Y test size :  (101,)

In [732]:
# print(X_test)

In [733]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(max_depth=20, min_samples_leaf=3, min_samples_split=5, n_estimators=300)
# {'max_depth': 15, 'min_samples_leaf': 3, 'min_samples_split': 5, 'n_estimators': 100}
# {'max_depth': 20, 'min_samples_leaf': 3, 'min_samples_split': 2, 'n_estimators': 300}
# 'max_depth': 10, 'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 100}
# {'max_depth': 15, 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 300

# final : 
# 70% : {'max_depth': 15, 'min_samples_leaf': 3, 'min_samples_split': 2, 'n_estimators': 200}
# 80 % : {'max_depth': 20, 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 200}
# 90% : {'max_depth': 20, 'min_samples_leaf': 3, 'min_samples_split': 5, 'n_estimators': 300}
model.fit(X_train, Y_train)

RandomForestRegressor(max_depth=20, min_samples_leaf=3, min_samples_split=5,
                      n_estimators=300)

In [734]:
y_pred = model.predict(X_test)

In [735]:
for x  in range(20):
    print("prediksi ke : ", x , "adalah : ", y_pred[x])

prediksi ke :  0 adalah :  3677.9759860509857
prediksi ke :  1 adalah :  10676.94911166193
prediksi ke :  2 adalah :  6503.879097384096
prediksi ke :  3 adalah :  3286.3881258198203
prediksi ke :  4 adalah :  1117.2279304954302
prediksi ke :  5 adalah :  4115.555978419728
prediksi ke :  6 adalah :  5304.091236580715
prediksi ke :  7 adalah :  2442.9282527010037
prediksi ke :  8 adalah :  3626.4509353320714
prediksi ke :  9 adalah :  5737.9973918536325
prediksi ke :  10 adalah :  3027.635727059489
prediksi ke :  11 adalah :  7304.707418213074
prediksi ke :  12 adalah :  27767.464041469535
prediksi ke :  13 adalah :  6255.0359205886725
prediksi ke :  14 adalah :  8923.454407268957
prediksi ke :  15 adalah :  9980.341468253971
prediksi ke :  16 adalah :  4247.925787322136
prediksi ke :  17 adalah :  1552.4018100418107
prediksi ke :  18 adalah :  28210.031504244722
prediksi ke :  19 adalah :  4443.478284257975

In [736]:
for x in range(20): 
        print("prediksi ke : ", x , "adalah : ", Y_test[x])

prediksi ke :  0 adalah :  3600.0
prediksi ke :  1 adalah :  12999.0
prediksi ke :  2 adalah :  6750.0
prediksi ke :  3 adalah :  3500.0
prediksi ke :  4 adalah :  690.0
prediksi ke :  5 adalah :  3300.0
prediksi ke :  6 adalah :  4600.0
prediksi ke :  7 adalah :  2950.0
prediksi ke :  8 adalah :  3500.0
prediksi ke :  9 adalah :  4800.0
prediksi ke :  10 adalah :  3800.0
prediksi ke :  11 adalah :  6500.0
prediksi ke :  12 adalah :  23000.0
prediksi ke :  13 adalah :  6100.0
prediksi ke :  14 adalah :  7500.0
prediksi ke :  15 adalah :  7000.0
prediksi ke :  16 adalah :  6200.0
prediksi ke :  17 adalah :  750.0
prediksi ke :  18 adalah :  42000.0
prediksi ke :  19 adalah :  3900.0

In [737]:
from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score
mae = mean_absolute_error(Y_test, y_pred)
mse = mean_squared_error(Y_test, y_pred)
r2_score = r2_score(Y_test, y_pred)
print("mae : ", mae)
print("mse : ", mse)
print("r2 score : ", r2_score)

mae :  1795.6911079554882
mse :  10700807.452469798
r2 score :  0.8233782162974421

In [738]:
# from sklearn.model_selection import GridSearchCV
# param = {
#     "n_estimators" : [100, 200, 300],
#     "max_depth" : [5, 10, 15,20], 
#     "min_samples_split" : [2, 5, 10],
#     "min_samples_leaf" : [1, 2, 3,4]
# }
# grid_search = GridSearchCV(model, param_grid=param, cv=5)
# grid_search.fit(X_train, Y_train)
# print(grid_search.best_params_)

In [739]:
# import pickle

In [740]:
# model_name = "House_Price_Prection_RVR.sav"
# pickle.dump(model, open(model_name, 'wb'))

In [741]:
# def convertXtrain(luas_bangunan,luas_tanah, jumlah_KT, jumlah_KM, jumlah_Garasi):
#     X_test_user = np.array(int(luas_bangunan), int(luas_tanah), int(jumlah_KT), int(jumlah_KM), int(jumlah_Garasi))
#     return X_test_user

In [742]:
# def predict_user(luas_bangunan,luas_tanah, jumlah_KT, jumlah_KM, jumlah_Garasi): 
#     data = [luas_bangunan,luas_tanah, jumlah_KT, jumlah_KM, jumlah_Garasi]
#     X_test_user = np.array(data).reshape(1, -1)

#     result = model.predict(X_test_user)
#     return result

In [743]:
# print(predict_user(350, 210,   4,    4,    1))

In [744]:
# data = np.array([[220, 220, 3, 3, 0]])
# print(model.predict(data))

In [745]:
# data2 = pd.DataFrame([[220, 220, 3, 3, 0]])
# data2 = np.array(data2)
# data2

In [746]:
# hasil = model.predict(data2)
# hasil