In [229]:
import pandas as pd 
import numpy as np
from sklearn.utils import shuffle
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import median_absolute_error 
from sklearn.metrics import r2_score
# from sklearn.datasets import load_diabetes

In [235]:
# diabetes = load_diabetes(as_frame=True)
# diabetes

{'data':           age       sex       bmi        bp        s1        s2        s3  \
 0    0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
 1   -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
 2    0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
 3   -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
 4    0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142
 ..        ...       ...       ...       ...       ...       ...       ...
 437  0.041708  0.050680  0.019662  0.059744 -0.005697 -0.002566 -0.028674
 438 -0.005515  0.050680 -0.015906 -0.067642  0.049341  0.079165 -0.028674
 439  0.041708  0.050680 -0.015906  0.017293 -0.037344 -0.013840 -0.024993
 440 -0.045472 -0.044642  0.039062  0.001215  0.016318  0.015283 -0.028674
 441 -0.045472 -0.044642 -0.073030 -0.081413  0.083740  0.027809  0.173816

            s4        s5        s6
 0   -0.002592  0.019907 -0.017646
 1   -0.039493 -0.068332 -0.092204
 2   -0.002592  0.002861 -0.025930
 3    0.034309  0.022688 -0.009362
 4   -0.002592 -0.031988 -0.046641
 ..        ...       ...       ...
 437 -0.002592  0.031193  0.007207
 438  0.034309 -0.018114  0.044485
 439 -0.011080 -0.046883  0.015491
 440  0.026560  0.044529 -0.025930
 441 -0.039493 -0.004222  0.003064

 [442 rows x 10 columns],
 'target': 0      151.0
 1       75.0
 2      141.0
 3      206.0
 4      135.0
        ...
 437    178.0
 438    104.0
 439    132.0
 440    220.0
 441     57.0
 Name: target, Length: 442, dtype: float64,
 'frame':           age       sex       bmi        bp        s1        s2        s3  \
 0    0.038076  0.050680  0.061696  0.021872 -0.044223 -0.034821 -0.043401
 1   -0.001882 -0.044642 -0.051474 -0.026328 -0.008449 -0.019163  0.074412
 2    0.085299  0.050680  0.044451 -0.005670 -0.045599 -0.034194 -0.032356
 3   -0.089063 -0.044642 -0.011595 -0.036656  0.012191  0.024991 -0.036038
 4    0.005383 -0.044642 -0.036385  0.021872  0.003935  0.015596  0.008142
 ..        ...       ...       ...       ...       ...       ...       ...
 437  0.041708  0.050680  0.019662  0.059744 -0.005697 -0.002566 -0.028674
 438 -0.005515  0.050680 -0.015906 -0.067642  0.049341  0.079165 -0.028674
 439  0.041708  0.050680 -0.015906  0.017293 -0.037344 -0.013840 -0.024993
 440 -0.045472 -0.044642  0.039062  0.001215  0.016318  0.015283 -0.028674
 441 -0.045472 -0.044642 -0.073030 -0.081413  0.083740  0.027809  0.173816

            s4        s5        s6  target
 0   -0.002592  0.019907 -0.017646   151.0
 1   -0.039493 -0.068332 -0.092204    75.0
 2   -0.002592  0.002861 -0.025930   141.0
 3    0.034309  0.022688 -0.009362   206.0
 4   -0.002592 -0.031988 -0.046641   135.0
 ..        ...       ...       ...     ...
 437 -0.002592  0.031193  0.007207   178.0
 438  0.034309 -0.018114  0.044485   104.0
 439 -0.011080 -0.046883  0.015491   132.0
 440  0.026560  0.044529 -0.025930   220.0
 441 -0.039493 -0.004222  0.003064    57.0

 [442 rows x 11 columns],
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)\n',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'diabetes_data_raw.csv.gz',
 'target_filename': 'diabetes_target.csv.gz',
 'data_module': 'sklearn.datasets.data'}

In [206]:
data = pd.read_excel("data_rumah_bandung.xlsx")
data.head()

,Unnamed: 0,judul,alamat,deskripsi,kamar,bangunan,lahan,harga
0,0,Promo Rumah Mewah Akhir Tahun,"Antapani, Bandung",Promo akhir tahun !! Hanya 500 jt-an + FREE SH...,3,75,84,590000000
1,1,Rumah modern Readystock di bandung raya cimahi...,"Bandung Wetan, Bandung",Rumah Baru modern 2 LT di Sayap Kota Cimahi de...,3,70,71,700000000
2,2,Dijual rumah 300 jutaan jalan lebar dekat Ikea...,"Padalarang, Bandung",*Jadilah konsumen CERDAS !* *Tips singkat sebe...,2,36,72,386000000
3,3,Dijual PROMO rumah 2 lantai di sayap Setiabudi...,Bandung,Copy writing nasc NUANSA ALAM SETIABUDHI CLOV...,2,60,60,499000000
4,4,Rumah Strategis Siap Huni di dekat Tol Cileuny...,"Cibiru Hilir, Bandung","Hunian Nyaman di Cibiru, Cileunyi, Bandung Tim...",2,90,114,397500000

In [207]:
data.describe()

        Unnamed: 0        kamar     bangunan         lahan         harga
count  1470.000000  1470.000000  1470.000000   1470.000000  1.470000e+03
mean    734.500000     3.646259   177.489116    210.235374  2.581586e+09
std     424.496761     2.535528   176.726326    500.109095  4.358051e+09
min       0.000000     0.000000     0.000000      0.000000  6.500000e+07
25%     367.250000     2.000000    65.000000     80.000000  6.750000e+08
50%     734.500000     3.000000   122.500000    120.000000  1.370000e+09
75%    1101.750000     4.000000   230.000000    210.000000  3.000000e+09
max    1469.000000    47.000000  1850.000000  15000.000000  5.700000e+10

In [208]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1470 non-null   int64
 1   judul       1470 non-null   object
 2   alamat      1470 non-null   object
 3   deskripsi   1468 non-null   object
 4   kamar       1470 non-null   int64
 5   bangunan    1470 non-null   int64
 6   lahan       1470 non-null   int64
 7   harga       1470 non-null   int64
dtypes: int64(5), object(3)
memory usage: 92.0+ KB

TRAIN DATA

In [209]:
# jml_lantai	ruangan	luas (m2)	harga
data_features = [[kamar, bangunan, lahan] for kamar, bangunan, lahan in zip(data['kamar'], data['bangunan'], data['lahan'])]
for x in range(10): 
    print(data_features[x])

[3, 75, 84]
[3, 70, 71]
[2, 36, 72]
[2, 60, 60]
[2, 90, 114]
[2, 60, 60]
[2, 48, 80]
[2, 36, 60]
[7, 200, 620]
[3, 75, 84]

In [210]:
type(data_features)

list

In [211]:
price = data.harga

CONVERT TO PANDAS DATA FRAME

In [212]:
data_features = np.array(data_features)
price = np.array(price)
print("data features : ", type(data_features))
print("harga : ", type(price))

data features :  <class 'numpy.ndarray'>
harga :  <class 'numpy.ndarray'>

SPLIT DATA

In [213]:
# data_features,price = shuffle(data_features,price, random_state=1)

In [214]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data_features, price, test_size=0.4, random_state=1)

In [215]:
print("X train shape : ", X_train.shape)
print("Y train shape: ", Y_train.shape)
print("X test shape: ", X_test.shape)
print("Y test shape: ",Y_test.shape)

X train shape :  (882, 3)
Y train shape:  (882,)
X test shape:  (588, 3)
Y test shape:  (588,)

In [216]:
# X_test

In [217]:
Y_test

array([ 2700000000,  1150000000,  2850000000,  4500000000,   725000000,
        2750000000,  3500000000,   180000000,   675000000,  1500000000,
        1725000000,   750000000,  1450000000,   330000000,  1850000000,
        3500000000,  1500000000,  3200000000,  2200000000,  1250000000,
        1850000000,  2750000000, 40000000000,  1700000000,   600000000,
        1600000000,   799000000,  1980000000, 13500000000,   650000000,
        3500000000,   588500000,   364650000,   750000000,  1150000000,
        1200000000,   160000000,   425000000,  2300000000,  6000000000,
        8700000000,  6750000000,  1169900000,   150000000,  2400000000,
         490000000,   200000000,  1500000000, 14000000000,  3999999999,
        4000000000,  3841200000,  1200000000,   140000000,   728099000,
        4300000000,  2400000000,  1723100000,  1709000000, 11000000000,
         497000000,   600000000,  6500000000,  2650000000,   325000000,
        2600000000,   500000000,   385000000,   780000000,   550000000,
        6800000000,   567000000,  3500000000,  1200000000,   975000000,
         525000000,  1135000000,  2420000000,   790000000,   900000000,
         360000000,   800000000,   135000000,  2750000000,  6000000000,
         730000000,  1700000000,  3025000000,   565000000,  3950000000,
         731000000,  3200000000,   625000000,   625000000,  3325000000,
         497000000,   940000000,   365000000,  1400000000,  1135750000,
       38000000000,  1300000000,  1000000000,   115000000,  1100000000,
        2950000000,   850000000,   227000000,   331500000,   850000000,
         533000000,  3250000000,  1950000000,  2390000000,   425000000,
        2500000000,   175002000,  2800000000,   499000000,   450000000,
         175000000,  1750000000,   475000000,  1100000000,  2200000000,
        2300000000,  1850000000,  5000000000,  1400000000,  1300000000,
         497000000,  3200000000,  3700000000,  7000000000,   155025000,
        4300000000,  1250000000,  1800000000,   991000000,   599000000,
        2494000000,  2700000000, 43000000000,   477000000,   800000000,
        2600000000,  2300000000, 43000000000,   199999999,   537000000,
         925000000,  2100000000,  1072000000,  4300000000,   297000000,
        1300000000,   900000000,   275000000,   950000000,   275000000,
        3200000000,  3000000000,  6300000000,  1350000000,  6800000000,
        2750000000,   850000000,  1250000000,  1375000000,  5500000000,
         950000000,   150000000,  1450000000,  2200000000,   850000000,
        3450000000,  1523200000,  1000000000,  1300000000,   205000000,
         815000000,  2350000000,   550000000,  1900000000,   600000000,
        2500000000,  1850000000,  1500000000,  1088000000,  2200000000,
        1100000000,   650000000,  3000000000,   750000000,  3200000000,
        2200000000,  1125000000,   701222193,   497000000,   499000000,
         585000000,  3000000000,  3000000000,   975000000,   475000000,
        8100000000,  1350000000,  1225000000,  5000000000,  3250000000,
        3500000000,  3200000000,   440000000,   297000000,   600000000,
         860250000,  1060800000,   436000000,   260000000,  1800000000,
         850000000,   615000000,  5750000000,   150000000,   588000000,
        3250000000,  1600000000,  5500000000,   175100000,  3210000000,
        1800000000,   331500000,  1400000000,  1200000000,  1950000000,
        1800000000,  1770000110,  1950000000,   650000000,  1250000000,
         100000000,  1500000000,  4600000000,  2300000000, 32000000000,
         225000000,  2600000000,   900000000,   850000000,  9500000000,
        1102000000,  3800000000,  1100000000, 21000000000,   200000000,
        3000000000,  2300000000,  2700000000,   520000000,  4750000000,
        3495000000,   572000000,   575000000,  1550000000,  7000000000,
        1600000000,  3300000000,  1100000000,  1444000000,   595000000,
         300000000,  3300000000,  2000000000,   790000000,   475000000,
        3200000000,   480000000,  3600000000,  1250000000,  3500000000,
        3300000000,  1200000000,   850000000,  7500000000,  3500000000,
        4900000000,   935000000,   975000000,  6250000000,   825000000,
        3750000000,  3100000000,  2550000000,  1750000000,   710000000,
         283000000,  7500000000,  1518000000,   375000000,  1500000000,
         630000000,   750000000,  2550000000,  6000000000,   165000000,
       29000000000,  4900000000,   900000000,  2500000000,  1180000000,
        4300000000,  1850000000,  3425000000,  2375000000,   402000000,
        3600000000,  1150000000,   475000000,   685000000,  4100000000,
        3125000000,   685000000,  1163000000,   799000000,  3000000000,
        5500000000,  1250000000,   365000000,   950000000,   650000000,
        1200000000,   225000000,   477500000,   700000000,  2450000000,
         990000000,  6000000000,   525000000,  1600000000,   696000000,
         175000000,  3500000000,  2650000000,   487000000,  1500000000,
        2200000000,  3150000000,  3900000000,  1750000000,  1300000000,
        1500000000,   595000000,   190000000,  1400000000,  3200000000,
        3500000000,   600000000,  1850000000,  1200000000,   925000000,
        1275000000,  1075000000,   857000000,  1500000000, 16000000000,
        1300000000,  2700000000,   453000000,  2800000000,  1750000000,
        3300000000,  1800000000,  1200000000,   448000000,   525000000,
        1752000000,   954000000,  1050000000, 15000000000,   650000000,
         400000000,  1800000000,  3600000000,  1600000000,   800000000,
         575000000,   586750000,   175000000,  1000000000,  3500000000,
        1300000000,  3200000000,  2900000000, 22500000000,   825500000,
         775000000,  1850000000,   750000000,  1300000000,  3800000000,
         500000000,  2500000000,  1900000000,  3600000000,  2900000000,
        2800000000,  7000000000,   371990000,  4500000000,   710000000,
        1100000000,   600000000,  1135000000,   750000000,  7500000000,
         660000000,   640000000,   820000000, 38000000000,   625000000,
         710000000,  3500000000,  1000000000,   925000000,  1350000000,
         195000000,   200000000,   900000000,   800000000,   475000000,
         750000000,  8800000000,  1500000000,   398000000,  3100000000,
        1350000000,  1100000000,  6300000000,   300000000,   500000000,
        2300000000,   580000000,  4500000000,   850000000, 13500000000,
        2600000000,  4500000000,   650000000,  3051000000,  1850000000,
         267000000,  1000000000,  1330000000,  1500000000,   390000000,
         765000000,  1200000000,   850000000,  1000000000,  2000000000,
         850000000, 12500000000,  2100000000,  1500000000,   820000000,
        1750000000,  3025000000,  3400000000,   550000000,   650000000,
        2800000000,   650000000,  3100000000,  2700000000,  4200000000,
         547000000,  2650000000,  1550000000,  1550000000,   220000000,
        3300000000, 13500000000,  1500000000,   695000000,  1500000000,
        1050000000,   750000000,   225000000,  9000000000,  3300000000,
         176000000,   657000000,  3500000000,  1850000000,   675000000,
        1202400000,  2400000000,  1550000000,   150000000,   225000000,
       14000000000,  1300000000,  1200000000,  2200000000,  6000000000,
         575000000,  4800000000,  1384500000,  2000000000,   549000000,
       33000000000,   532000000,  1399000000,   150000000,   610000000,
         350000000, 10900000000,   380000000, 15000000000,  3100000000,
        3900000000,   424990000,  1850000000,   430000000, 19500000000,
         549500000,   650000000,   750000000,   699000000,  2350000000,
        1700000000,  3250000000,  1380000000,  3600000000,   899000000,
        1300000000,   745000000,  3300000000,  4600000000,  2300000000,
         580000000,   517000000,   600000000,   250000000,   650000000,
         800000000,  7000000000,   145000000,  1100000000,  4250000000,
         678000030,  3800000000,  4200000000,   700000000,   750000000,
        1600000000,   850000000,  1250000000,   170000000,  1800000000,
        5000000000,   500000000,  1069000000,   965000000,   245000000,
        2500000000,   375000000,  1600000000,   950000000,  2700000000,
         800000000,   289000000,  1450000000,   413000000,   549000000,
        3250000000,   250000000,  2200000000,  3400000000,  1400000000,
        3300000000,  2400000000,   737200000,  2100000000,   395000000,
        1689000000,   800000000,  1257000000], dtype=int64)

In [218]:
from sklearn.svm import SVR
SVR_model = SVR(kernel='linear',C=100, gamma=0.1)
SVR_model.fit(X_train, Y_train)

SVR(C=100, gamma=0.1, kernel='linear')

In [219]:
y_pred = SVR_model.predict(X_test)

PERFORMANCE

In [220]:
import math
for x in range(25):
    print("y pred ", x , " adalah : ", math.floor(y_pred[x]))

y pred  0  adalah :  2760090498
y pred  1  adalah :  1683626781
y pred  2  adalah :  1465671543
y pred  3  adalah :  2859818235
y pred  4  adalah :  864416174
y pred  5  adalah :  1362580723
y pred  6  adalah :  1543645940
y pred  7  adalah :  692710547
y pred  8  adalah :  1061994155
y pred  9  adalah :  1871930477
y pred  10  adalah :  1383011064
y pred  11  adalah :  844666889
y pred  12  adalah :  1376424491
y pred  13  adalah :  674220276
y pred  14  adalah :  1102327818
y pred  15  adalah :  2572553633
y pred  16  adalah :  1977698579
y pred  17  adalah :  1970992336
y pred  18  adalah :  2345587854
y pred  19  adalah :  1498771944
y pred  20  adalah :  1465719412
y pred  21  adalah :  2176693432
y pred  22  adalah :  5928909319
y pred  23  adalah :  2093478177
y pred  24  adalah :  1221337796

In [221]:
for x in range(25):
    print("y test ", x , " adalah : ", Y_test[x])

y test  0  adalah :  2700000000
y test  1  adalah :  1150000000
y test  2  adalah :  2850000000
y test  3  adalah :  4500000000
y test  4  adalah :  725000000
y test  5  adalah :  2750000000
y test  6  adalah :  3500000000
y test  7  adalah :  180000000
y test  8  adalah :  675000000
y test  9  adalah :  1500000000
y test  10  adalah :  1725000000
y test  11  adalah :  750000000
y test  12  adalah :  1450000000
y test  13  adalah :  330000000
y test  14  adalah :  1850000000
y test  15  adalah :  3500000000
y test  16  adalah :  1500000000
y test  17  adalah :  3200000000
y test  18  adalah :  2200000000
y test  19  adalah :  1250000000
y test  20  adalah :  1850000000
y test  21  adalah :  2750000000
y test  22  adalah :  40000000000
y test  23  adalah :  1700000000
y test  24  adalah :  600000000

In [222]:
# mae and mse score

print("mae score : ",math.floor(mae(Y_test, y_pred)))
print("mse score : ", math.floor(mse(Y_test, y_pred)))
print("median absolute error : ",round(median_absolute_error(Y_test, y_pred),2))
print("r2 score : ",r2_score(Y_test, y_pred))
# test = mae(Y_test, y_pred)
# type(test)

mae score :  1278609551
mse score :  16096526404689424384
median absolute error :  429240985.59
r2 score :  0.319129908942994

In [223]:
from sklearn.model_selection import GridSearchCV
svr = SVR()
paramters = {'C': [0.1, 1, 10, 100], 'gamma': [0.1, 0.01, 0.001, 0.0001], 'kernel': ['rbf', 'linear']}
grid_search = GridSearchCV(svr, param_grid=paramters, n_jobs=6, cv=5, scoring='neg_mean_squared_error', verbose=1)
grid_search.fit(X_train, Y_train)

Fitting 5 folds for each of 32 candidates, totalling 160 fits

GridSearchCV(cv=5, estimator=SVR(), n_jobs=6,
             param_grid={'C': [0.1, 1, 10, 100],
                         'gamma': [0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf', 'linear']},
             scoring='neg_mean_squared_error', verbose=1)

In [224]:
print("best param : ", grid_search.best_estimator_.get_params)
best_param = grid_search.best_estimator_.get_params

best param :  <bound method BaseEstimator.get_params of SVR(C=100, gamma=0.1, kernel='linear')>

test input

In [226]:
kamar = int(input("masukan banyak kamar : "))
bangunan  = float(input("masukan luas bangunan  : "))
lahan = int(input("masukan luas lahan : "))

In [227]:
data_customer = np.array([[kamar,bangunan, lahan]])
print(data_customer)
customer_price_pred = math.floor(SVR_model.predict(data_customer))
print(customer_price_pred)
# 4,170, 132 = 1.5M

[[  4. 100. 150.]]
1267643561

In [236]:
SVR_model.score(X_test, Y_test)

0.319129908942994